
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif; 
    background-image: url('img/Cat.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 1200px; 
    position: relative; 
    height: 100%; 
}

/* Элементы управления */
.ui-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    gap: 20px; 
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0; 
    position: absolute;
    top: 25%;
    left: 0; 
    right: 0; 
}

/* Контейнер для текста */
.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    margin-left: -700px; 
    margin-top: 335px;
}

/* Текст вне кнопок */
.score, .depth {
    font-size: 18px;
    font-weight: bold;
    color: #592204;
}

/* Контейнер для кнопок */
.buttons-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
    margin-right: -700px;
    margin-top: 335px;
}

/* Кнопки */
.ui-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px; 
    background-color: #F4147A;
    color: #F9DCDC; 
    transition: background-color 1s ease;
}

.ui-container button:hover {
    background-color: #D10F64; 
}

/* Холст */
#gameCanvas {
    width: 210%; 
    height: 42%;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}

/* Адаптивность */
@media (max-width: 1200px) {
    .text-container {
        margin-left: -400px; 
    }

    .buttons-container {
        margin-right: -400px;
    }
}

@media (max-width: 768px) {
    .ui-container {
        flex-direction: column; 
        align-items: center;
        top: 20%;
    }

    .text-container, .buttons-container {
        margin: 0;
    }

    .buttons-container {
        margin-top: 20px; 
    }

    .text-container {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .ui-container {
        top: 15%;
    }

    .text-container {
        gap: 10px;
    }

    .ui-container button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .score, .depth {
        font-size: 16px;
    }
}
